# Project-specific files
/*
!/.gitignore
!/composer.*
!phpcs.xml

!/wp-content/
/wp-content/*

!/wp-content/mu-plugins/
/wp-content/mu-plugins/*
!/wp-content/mu-plugins/.gitkeep

!/wp-content/plugins/
/wp-content/plugins/*
!/wp-content/plugins/.gitkeep

!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/.gitkeep
!/wp-content/themes/skeleton
